legend {
    color:blue;
    background-color:rgb(194, 194, 63);
    font-style:oblique;

}

button:hover {
    background-color: black;
    color:aliceblue;

}

select:hover{
    background-color:black;
    color:aliceblue;

}

textarea {
    width: 60px;
    height: 15px;


}

#remarques1 {
    background-color:rgb(114, 114, 79);
    border-color: black;
    width: 600px;
    height: 90px;
}


